@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo</h1>
    <img class="img-fluid" src="https://png.pngtree.com/thumb_back/fw800/background/20190221/ourmid/pngtree-kind-of-school-equipment-upgrade-stationery-new-semester-new-equipment-image_12934.jpg" alt="Alternate Text" />
</div>
